@charset "utf-8";
/* CSS Document */

@font-face {
    font-family: 'HelveticaLTStdBold';
    src: url('fonts/helveticaltstd-bold-webfont.eot');
    src: url('fonts/helveticaltstd-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/helveticaltstd-bold-webfont.woff') format('woff'),
         url('fonts/helveticaltstd-bold-webfont.ttf') format('truetype'),
         url('fonts/helveticaltstd-bold-webfont.svg#HelveticaLTStdBold') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'HelveticaLTStdRoman';
    src: url('fonts/helveticaltstd-roman-webfont.eot');
    src: url('fonts/helveticaltstd-roman-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/helveticaltstd-roman-webfont.woff') format('woff'),
         url('fonts/helveticaltstd-roman-webfont.ttf') format('truetype'),
         url('fonts/helveticaltstd-roman-webfont.svg#HelveticaLTStdRoman') format('svg');
    font-weight: normal;
    font-style: normal;

}

/*  */
body { color: #04afc0; font-family:'HelveticaLTStdRoman', Helvetica, sans-serif; 
    
    background:#000;
	
}

.clearL {clear: left; }
.clearR {clear: right; }
.clear {clear:both;}

h2 {
display: block;
font-size: 1.5em;
font-weight: bold;
margin:none;
}

h3 {
display: block;
font-size: 1.17em;
margin:none;
font-weight: bold;
}

.person { display: block; float:left; width: 420px; height: 500px; overflow: visible; top: 100px; left: 100px; }

.ideaImage {position: absolute; left: 152px; top: 230px; z-index: 5;}
.ideaName {text-align:center; }

.ideaContent { margin-top:-20px; }

.ideaConcepts1 {display:block; float:left; width:110px; margin-top:70px; }
.ideaConcepts2 {display:block; float:left; width:110px; margin-left:135px; margin-top:70px;}

.concept1, .concept2, .concept3, .concept4 {float:right;}
.concept5, .concept6, .concept7, .concept8 {float:left;}

.ideaTitle {text-transform:capitalize; text-decoration:underline; }

.ideaIdea {display:block; height:80px; overflow-y:scroll; }

.toggleContent {position: absolute; display: block; width: 360px; height: 500px; no-repeat top left; padding: 0 30px 0 30px;}

#timelineWrapper {display:block; width:1024px; height:57px; margin: 0 auto; color:#FFF; }
#timeline {display:block; width:1024px; height:57px; margin: 0 auto; font-family:  'HelveticaLTStdBold'; position: fixed; background: url(images/full-timeline-bg.png) no-repeat top left;}
#timeline2 p, #timeline3 p, #timeline4 p { display:block; width:140px; margin: 0 auto; }
#timeline a, #timeline a:hover, #timeline a.active {color: #FFF; text-decoration:none; }
.timelineSection {display:block; width:204px; height:47px; float:left; text-align:center; padding-top: 10px; color: #FFF; }
#timeline1{ width:235px; }
#timeline1 p {display:block; width:140px; margin:8px 0 0 30px; font-size:20px; } 
#timeline2{ width:235px; margin-left:-38px;} 
#timeline3{ width:235px; margin-left:-38px;} 
#timeline4{ width:235px; margin-left:-38px;} 
#timeline5{ width:235px; margin-left:-39px; background: url(images/timelineMarker2.png) no-repeat 10px 0px;} 
#timeline5 p {display:block; width:140px; margin:0 0 0 60px;}

a {color: #04afc0; text-decoration: none;}
h1 {}


#welcomePopupWrapper {display:block; width:720px; height:432px; margin: 0 auto;}
.welcomePopup {
	position:fixed; 
	display:block; 
	width: 260px;
	height: 302px;
	background:url(images/oceanBubble.png) no-repeat top left; 
	margin:20px auto 0 auto;
	color:#FFF;
	padding: 100px 300px 30px 160px;
	text-align:justify;
}