@charset "utf-8";
/* CSS Document */

@font-face {
    font-family: 'HelveticaLTStdBold';
    src: url('fonts/helveticaltstd-bold-webfont.eot');
    src: url('fonts/helveticaltstd-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/helveticaltstd-bold-webfont.woff') format('woff'),
         url('fonts/helveticaltstd-bold-webfont.ttf') format('truetype'),
         url('fonts/helveticaltstd-bold-webfont.svg#HelveticaLTStdBold') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'HelveticaLTStdRoman';
    src: url('fonts/helveticaltstd-roman-webfont.eot');
    src: url('fonts/helveticaltstd-roman-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/helveticaltstd-roman-webfont.woff') format('woff'),
         url('fonts/helveticaltstd-roman-webfont.ttf') format('truetype'),
         url('fonts/helveticaltstd-roman-webfont.svg#HelveticaLTStdRoman') format('svg');
    font-weight: normal;
    font-style: normal;
}

body {background:#000; color: #FFF; font-family:'HelveticaLTStdRoman', Helvetica, sans-serif;}

a, a:hover, a.active {color: #FFF; text-decoration:none; }
img {border:none;}

.clearfloat {clear:both; }

#WelcomeAndPlay {display:block; width:1024px; height:568px; position:relative; margin:0 auto;}

#introVideo {display: block; position: absolute; overflow: hidden; margin: 0 auto; width:1024px; height: 568px; z-index: 10;}
#skipIntro { position:absolute; top: 5px; left: 0px; }

#game {display:none; position: absolute; width:1024px; height: 568px; margin: 0 auto; background:#000; z-index:0; }

#Surface{
	position:absolute;
	top: 0px; 
	left: 0px;
	z-index:-1;
}

#inspirations {
	display:none;
	position:absolute;
	width:260px;
	height:72px;
	left:624px;	
	background:url(images/bubbles.png) no-repeat top left;
	z-index:5;
	padding: 70px 60px 80px 80px;
}

#gameTitleDiv {
	position:absolute;
	display:block;
	width:900px;
	top:40px;
	left:30px;
	font-size:36px;
	text-align:center;
	z-index:1;
}

#gameTitleDiv label {font-size:20px;}

#formDiv {
	position:absolute;
    top:240px;
	left:50px;
	width:924px;
	height:250px;
	z-index:1;
	padding: 10px;
 }
 	   
	  #myform {
		  text-align:left;
		  margin-top: 0px;
	   }
	   
	   #formDiv p, #formDiv label {
		   font-size:20px;
		   -webkit-margin-before: 0em;
			-webkit-margin-after: 0em;
			-webkit-margin-start: 0px;
			-webkit-margin-end: 0px;
			margin:0;
		   }
	   	   
	  .input {
		  width:924px;
		  height:38px;
		  background:#FFF;
		  color:#000; 
		  font-size: 24px;
		  font-family:'HelveticaLTStdRoman', Helvetica, sans-serif;
		  outline:none;
		  opacity:0.4;
	   }
	   
	   #formDiv .input {
			margin-top:0px;   
	   }
	   
	  .submit {
		  position:absolute;
		  top:110px;
		  font-size: 30px;
		  cursor:pointer;
	  }
	  
.myform label {margin:none;}

#formUsercloudHidden {display:none; }
#formconcept1Hidden {display: none;}
#formconcept2Hidden {display: none;}
#formconcept3Hidden {display: none;}
#formconcept4Hidden {display: none;}
#formconcept5Hidden {display: none;}
#formconcept6Hidden {display: none;}
#formconcept7Hidden {display: none;}
#formconcept8Hidden {display: none;}
#formUseredgeNotHidden {display: block; width: 422px; margin-top:15px; height:24px; font-size:18px;}
#formUsernameNotHidden {display: block; width: 422px; margin-top:15px; height:24px; font-size:18px;}
#formUseremailHidden {display: none;}
#formSubmitNotHidden {
	margin-top:15px;
	display:block;
	border:none;
	font-size: 30px;
	font-family:'HelveticaLTStdRoman', Helvetica, sans-serif;
	cursor:pointer;
	}